.wrapper {
  text-align: center;
}
.wrapper .grid2 {
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}
.wrapper .img {
  margin: auto;
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin-bottom: 20px;
}
.wrapper .icon-circle {
  padding: 0;
}
.wrapper .img i {
  font-size: 25px;
}
.wrapper .product {
  padding: 30px;
}
.wrapper .product h3 {
  font-weight: 500;
}
.wrapper .product p {
  font-size: 15px;
  margin-top: 20px;
  color: grey;
}