.heading img {
  width: 40px;
  height: 40px;
}
.newarrivals h4 {
  font-weight: 400;
}
.newarrivals .box span {
  font-size: 15px;
  color: #e94560;
  font-weight: 500;
}
.newarrivals .box img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.newarrivals .heading-left .icon {
  color: #fff;
  background-color: #26e07f;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 17px;
  font-weight: bold;
  line-height: 44px;
  text-align: center;
}
.newarrivals .grid {
  grid-template-columns:repeat(auto-fill, minmax(145px, 1fr));
}
/* mobile screen */
@media (max-width: 631px){
  .newarrivals .grid {
    grid-template-columns:repeat(auto-fill, minmax(120px, 1fr));
  }
  .newarrivals .heading-left .icon {
    width: 40px;
    height: 40px;
    font-size: 15px;
    line-height: 39px;
  }
}