/* start Head */
.head {
  background-color: #0f3460;
  padding: 10px 0;
  color: #fff;
}
.head i {
  margin-right: 10px;
}
.head label {
  margin-right: 30px;
  font-size: 13px;
}
/* end Head */
/* start search */
.search {
  padding: 20px 0;
}
.search .logo img {
  width: auto;
  height: auto;
}
.search .width {
  width: 20%;
}
.search-box {
  width: 80%;
  border: 2px solid #0000001a;
  border-radius: 50px;
}
.search-box i {
  width: 5%;
  font-size: 17px;
  opacity: 0.5;
  padding: 0 20px;
}
.search-box input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
.search-box span {
  width: 20%;
  opacity: 0.5;
  border-left: 1px solid #0000001a;
  padding: 10px;
}
.cart {
  position: relative;
}
.search .cart span {
  position: absolute;
  top: -10px;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e94560;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 20px;
}
.search .f_flex {
  justify-content: end;
  align-items: center;
}
/* end search */
.categrories {
  background-color: #f6f9fc;
  padding: 0 30px;
  border-radius: 5px;
  height: 6vh;
  margin-top: 5px;
  align-items: center;
}
.categrories span {
  margin-right: 20px;
  font-size: 30px;
}
.categrories h4 {
  font-weight: 500;
}
.categrories h4 i {
  margin-left: 10px;
}
header {
  padding-bottom: 10px;
  box-shadow: -1px 15px 17px -8px #0000001a;
  position: relative;
}
header .container {
  align-items: center;
}
header ul {
  line-height: 8vh;
}
header ul li {
  margin-left: 30px;
}
header ul li a {
  transition: 0.5s;
  font-size: 15px;
  font-weight: 400;
}
header ul li a:hover {
  color: #e94560;
}
.open {
  display: none;
}
.search.active {
  height: fit-content;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  box-shadow: -1px 11px 24px -11px #0000002a;
  transition: 0.5s;
}
/* medium screen */
@media (max-width: 930px){
  header ul {
    padding-top: 30px;
  }
  .nav-links-MobileMenu {
    position: absolute;
    display: block;
    list-style-type: none;
    left: 0;
    top: 0;
    transition: 0.5s;
    width: 50%;
    height: fit-content;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.23) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
    z-index: 888;
  }
  header ul li {
    width: 100%;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
    line-height: 70px;
  }
  header .link {
    display: none;
  }
  .close,
  .open {
    position: absolute;
    top: 8px; /*35px*/
    right: 20px;
    color: #ff014f;
    display: block;
    font-size: 25px;
    z-index: 999;
  }
  .open {
    top: 15%;
    right: 47px;

  }
  .close {
    right: 53%;
  }
  .close .home-btn {
    background: linear-gradient(145deg , #e2e8ec , #fff);
    color: #ff014f;
    border-radius: 50%;
    padding: 0;
    width: 60px;
    height: 70px;
    line-height: 60px;
  }
}
/* small screen */
@media (max-width: 768px){
  .search-box {
    width: 45%;
    height: 54px;
  }
  .search-box span {
    display: none;
  }
}
/* mobile screen */
@media (max-width: 576px){
  .search .logo img {
    width: 100%;
    height: 100%;
  }
  .search-box {
    height: 40px;
  }
  .icon-circle {
    padding: 12px;
  }
}